.body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;

   background: #fff
}


.page {
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
}

/* Header */

.header {
    padding: 20px;

    background-color: #121212;
}

.header-title {
    margin: 0;

    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;

    font-size: 16px;
    color: #4c89da;
    text-align: center;
    font-weight: normal;
}

/* Nav */

.nav {
    text-align: center;
}

.nav-link {
    display: inline-block;
    padding: 8px 12px;
    color: #121212;

    text-decoration: none;
}

.nav-link:hover {
    background-color: #eee;
}


/* Content */

.content {
    padding: 20px;

}

.content-title {
    margin: 0 0 15px;
    font-size: 24px;
    color: #ce2929;
}

.content-text {
    margin-bottom: 20px;
}

.read-more {
    color: #4c89da;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* article */

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px  solid #494945;

}
.article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #063067;
}

.article-title a{
    color: inherit;
    text-decoration: none;
}

.article-title a:hover {
    text-decoration: underline;
}

.article-date {
    font-size: 12px;
    color: #9b9b91;
}

/* footer */

.footer {
    padding: 20px;

    background-color: #121212;

    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    display: block;
    padding: 5px;

    border: 1px solid #000000;
    font-size: 15px;
    font-family: arial, sans-serif;
}

.form-input:focus {
    outline: none;
    background-color: #4c89da;
}

.form-textarea {
    width: 200px;
    height: 150px;
    padding: 2px;

    border: 1px solid #000;
    outline: 1px solid red;

    font-size: 15px;
    font-family: arial, sans-serif;
}

.link {
    color: #063067;
    text-decoration: none;
}
.link:visited {
    color: #ff004e;
}
.link:hover {
    text-decoration: underline;
}


.btn {
    padding: 5px 10px;

    background-color: #58bd58;
    border: 1px solid #173f17;
    color: white;


}

.btn:active {
    background-color: #1654
}
.btn:disabled {
    background-color: #444;
    color: #808080;
    cursor: not-allowed;
    border: 1px solid #444;
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:focus {
    background-color: #246424;
    cursor: pointer;
}

.form-Fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #cecc;

}
.form-title {
    margin: 0 0 15px;
}

/* Modal */

.modal {
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 5px;
    position: relative;

    background-color: #eee;
}

.modal-title {
    margin: 0;
}

.square {
    width: 50px;
    height: 50px;

    background-color: #333;

    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;

}

.square.red {
    background-color: red;
    right: -15px;
    top: -5px;
    z-index: 1;
}

.square-fixed {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;

    background-color: #fff100;

    position: fixed;
    top: 50%;
    left: 50%;
}